<div class="container">

  <div class="row pt-3">
    <div class="col">
      <h1 class="text-center">Listado Autos 0 km y Usados</h1>

    </div>
  </div>

  <form class="row m-4" role="search" method="get" action="/autos/listado/">
    <input
      class="col form-control ms-3"
      type="search"
      placeholder="id..."
      aria-label="Search"
      id="id"
      name="id"
    />
    <button class="col btn btn-primary" type="submit">Buscar</button>

    <div class="col-4"></div>
    <a href="/autos/alta/" class="col-3 btn btn-success me-3">Agregar Producto</a>
  </form>

  <div class="row">
    <div class="col">

      <table class="table table-hover table-striped table-bordered table-light">
        <thead>
          <tr class="text-center">
            <th>Id</th>
            <th>Imagen</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>

        <tbody>

          {{#each data}}
            <tr>
              <td>{{id}}</td>
             
              <td style="width: 20%;"><img
                  src="{{urlImage}}"
                  alt="Imagen del diseño"
                  style="width: 100%;"
                /></td>
              <td>{{descripcion}}</td>
               <td>{{precio}}</td>

              <td><a
                  href="/autos/update/{{id}}"
                  class="btn btn-primary"
                >Editar</a></td>
              <td><a
                  href="/autos/delete/{{id}}"
                  class="btn btn-danger"
                >Eliminar</a></td>
            </tr>
          {{/each}}

        </tbody>

      </table>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row justify-content-center">
        <div class="col-8 d-flex justify-content-center">

          <div class="d-grid gap-2 col-6 mx-auto pb-5">
            <a
              href="/autos/"
              class="btn btn-secondary"
              type="button"
            >Retornar</a>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>